*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
}

body{
    font-family: "Roboto",sans-serif;
    background-color: #e9e8e8e0;
}

/*background colors*/

.bg-blue{
    background-color: #47ADF1;
}

.bg-violet{
    background-color: #9C72E4;
}

.bg-green{
    background-color: #64C0A9;
}

.bg-white{
    background-color: white;
}

.bg-oil{
    background-color: #B0C926;
}

.bg-fucsia{
    background-color: #D863A1;
}

/*utilities*/

.pd-35{
    margin-left: 35px;
}

/*Header*/
.header-container{
    width: 100%;
    margin-bottom: 55px;
}

#logo{
    padding: 5px 5px 5px 15px;
    display: inline-block;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    }

    .main-container{
        width: 60%;
        margin: 0 auto;
        border-radius: 5px;
        }
    
        /*button section*/

button{
    padding: 5px 10px;
}
.task-btn{
    margin: 15px 5px 10px 20px;
    color: white;
    border:none;
    border-radius: 7px;
}

.section-btn{
    background-color: white;
    color: #D3D7DB;
    border: 2px solid #D3D7DB;
    border-radius: 7px;
    font-weight: bold;
    font-size: small;
}
.btn-container{
    margin-bottom: 2px;
}
