*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
}

body{
    font-family: "Roboto",sans-serif;
    background-color: #e9e8e8e0;
}

/*background colors*/

.bg-blue{
    background-color: #47ADF1;
}

.bg-violet{
    background-color: #9C72E4;
}

.bg-green{
    background-color: #64C0A9;
}

.bg-white{
    background-color: white;
}

.bg-oil{
    background-color: #B0C926;
}

.bg-fucsia{
    background-color: #D863A1;
}

.bg-orange{
    background-color: #F29E33;
}

.green{
    color: green;
}

.red{
    color: red;
}
/*utilities*/

.pd-20{
    padding-left: 20px;
    padding-top: 20px;
}

/*Header*/
.header-container{
    width: 100%;
    margin-bottom: 55px;
}

#logo{
    padding: 5px 5px 5px 15px;
    display: inline-block;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    }

    
        /*button section*/

button{
    padding: 5px 10px;
}
.task-btn{
    margin: 15px 5px 10px 20px;
    color: white;
    border:none;
    border-radius: 7px;
}

.section-btn{
    background-color: white;
    color: #D3D7DB;
    border: 2px solid #D3D7DB;
    border-radius: 7px;
    font-weight: bold;
    font-size: small;
}
.btn-container{
    margin: 3px auto;
    padding-bottom: 2px;
    width: 60%;
    border-radius: 5px;
}

/* list section*/

.list-container{
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    padding-bottom: 30px;
}

ul{
    list-style-type: none;
    padding-top: 10px;

}

li{
    padding-top: 10px;
}

li ul{
    font-weight: bold;
    font-size: medium;
}

.wrd-cont{
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 8px;
}

.cercle-gr{
    padding: 1px 2px;
    border-radius: 20px;
    border: 1px solid green;
}

.cercle-rd{
    padding: 1px 2px;
    border-radius: 20px;
    border: 1px solid red;
}